# Ignore everything by default
/*

# Ignore everything inside Assets
/Assets/*

# Unignore only Scripts folder and its contents
!/Assets/Scripts/
!/Assets/Scripts/**
  
# Keep the .gitignore file itself
!.gitignore
